#app{
  display: grid;
  grid-template-columns: 1fr 2fr;
  
  height: 768px;
  overflow: hidden;
}

aside{
  width: 400px;
  margin: 20px;
  .brand{
  
  }
  #logo{
    

  }
  .title{
    img{
    width: 46px;
    height: 48px;
    margin-bottom: 16px;
    }
    h1{
      color: var(--pink);
      font: var(--logo);
    }
    p{
      color: var(--text-heading);
      font: var(--body-md);
      margin-top: 4px;
    };
    position: absolute;
    margin: 32px;
  }
  .aside-image-background{
    width: 100%;
    border-radius: 12px;
    z-index: -1;
  }
}
main{
  overflow: auto;
  width: 820px;
  background-color: var(--shape-body);
  border-radius: 12px;
  
}
.invite{ 
  margin-top: 20px;
  margin-right: 20px;
  margin-bottom: 20px;
  
}